* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    min-width: 1080px;
} 

#menu {
    padding-top: 50px;
}

#nav li {
    position: relative;
}

#nav>li {
    display: inline-block;
}

#nav>li>a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

#nav {
    display: inline-block;
    background-color: #f5f5f5;
}

#nav,
.subnav {
    list-style-type: none;
    display: block;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #f5f5f5;
    /* display: inline-block; */
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    width: 160px;
    /* background-color: #fff;  */
}

#nav li:hover .subnav {
    display: block;
}

.header {
    background-color: #f5f5f5;
    width: 100%;
    height: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
}

.content {
    margin-left: 5%;
}

.container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 20px;
    width: 18%;
    float: left;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container:hover {
    border-bottom: 10px solid transparent;
    outline-offset: -10px;
    border: 1px solid #d2c3d3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    cursor: pointer;

}


.img {
    width: 100%;
}

.title {
    margin-top: 15px;
    margin-left: 15px;
    height: 50px;
    line-height: 1;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.subtitle {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    height: 105px;
    margin-left: 15px;
    margin-right: 15px;
}

.button-download {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #eefff2;
    display: inline-block;
    font-size: 15px;
    margin-left: 20px;
}

.button-home {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 1px 1px;
    background-color: #17c6b5;
    margin-left: 15px;
}


.button-download:hover,
.button-home:hover {
    background-color: rgb(230, 243, 234);
    color: rgb(255, 43, 43);
   
}



.button {
    float: left;
    margin-bottom: 15px;
}

.end-section {
    display: none;
    position: relative !important;
}

